.usersWrapper {
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
}

.usersList {
    display:flex;
    flex-wrap: wrap;
    /*justify-content: start;*/
    margin-top: 1em;
    margin-bottom: 2em;
}

.usersList > .item {
    width: 25%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    transition: opacity 0.4s;
}

.usersList:hover > .item {
    opacity: 0.6;
}

.usersList:hover > .item:hover {
    opacity: 1;
}

.usersList > .item > img {
    width:50%
}

.usersList > .item > .userName {
    font-size:50%;
    font-weight: bold;
    text-align: center;
}
